.message {
    flex-grow: 1;
    padding-left: 10px;
    background-color: green;
    border-radius: 0px 10px 10px 0px;
    min-width: 100px;
    max-width: 200px;
}

.messages {
    display: flex;
    flex: 1 0;
    background: greenyellow;
    padding: 10px;
    align-items: flex-end;

}

.circle {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.name {
    font-size: 14px;
    font-family: "Arial Black";
}

.p {
    color: white;
}

.span {
    color: darkgray;
}

.ugol {
    border: 20px solid transparent;
    border-right: 0px solid green;
    border-bottom: 20px solid green;

}