.default {
    resize: vertical;
    padding:15px;
    border-radius:10px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.4);
    background: darkgrey;
    margin: 2px;

}

.red {
    resize: vertical;
    padding:15px;
    border-radius:10px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    background: red;
}