.default {
    resize: vertical;
    border-radius:5px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.4);
    background: darkgrey;
    margin: 10px;
    vertical-align: middle;
    height: 30px;
}

.red {
    resize: vertical;
    border-radius:5px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    background: red;
    height: 30px;

}